<!doctype html>
 <html>

   <head>
      <meta charset="utf-8"/>
      <meta name="description" content="Pagina de prueba">
      <title>It's working</title>
      <style type="text/css">
		.centrar{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:50%;
		left:50%;
		
	}
.centrar2{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:45%;
		left:50%;
		
	}
      </style>
   </head>

   <body>
<p class="centrar2">This is for testig! you are the visitor number
<div class="centrar" id="sfc4sdx5e8z6tj9dce2zxyy1hcpu6se93ya"></div>
 <script type="text/javascript" src="https://counter8.freecounter.ovh/private/counter.js?c=4sdx5e8z6tj9dce2zxyy1hcpu6se93ya&down=async" async></script>
<noscript><a href="https://www.contadorvisitasgratis.com" title="contador de visitas gratis"><img src="https://counter8.freecounter.ovh/private/contadorvisitasgratis.php?c=4sdx5e8z6tj9dce2zxyy1hcpu6se93ya" border="0" title="contador de visitas gratis" alt="contador de visitas gratis"></a></noscript>
   </body>

 </html>
